* {
    margin: 0;   
    /* border: 1px solid black; */
}
body {
    font-family: "JetBrains Mono", serif;
    font-size: 16px;
}
fieldset {
    border: none;
}
.task-management-container {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    padding: 104px 0 80px 0;
    background-color: #FBFBFB;
}
h1.task-management-title {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 800;
}
select.form-enter-category {
    width: 402px;
    padding: 16px;
    border-radius: 16px;
    margin: 16px 0;
    font-family: "JetBrains Mono", serif;
    font-weight: 800;
    color: #000;
    border: 2px solid #000;
    box-shadow: 5px 6px 12px #c9c8c8;
}
.form-enter-task {
    width: 400px;
    padding: 16px;
    border-radius: 16px;
    margin: 16px 0;
    font-family: "JetBrains Mono", serif;
    font-weight: 800;
    color: #000;
    border: 2px solid #000;
    box-shadow: 5px 6px 12px #c9c8c8;
}

input[type="text"]:focus, .form-enter-category:focus {
    outline: 1px solid rgb(244, 244, 5);
}

.form-add-button {
    padding: 16px 24px;
    margin: 0 0 24px 0;
    border-radius: 16px;
    box-shadow: 4px 4px;
    font-family: "JetBrains Mono", serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #000;
}
.form-add-button:hover {
    cursor: pointer;
}

ul.task-management-category-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}
li.category-button
{
    list-style: none;
    padding: 16px 32px;
    border: 2px solid #000;
    border-radius: 32px;
    box-shadow: 4px 4px;
    margin: 0 16px 16px 0;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #fff;
}
li.category-button:hover {
    cursor: pointer;
}

div.task-tile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 696px;
    height: 88px;
    margin: 24px auto;
    padding: 0 16px;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 4px 4px;
}
div.task-tile-text-container {
    width: 100%;
    display: flex;
}

div.task-tile-entered-task {
   font-weight: 800;
   margin-left: 32px;
}

div.task-tile-checkbox-container {
    display: flex;
    gap: 16px; 
    align-items: center;
}
div.task-tile-category {
    padding: 4px 16px;
    margin-right: 8px;
    border-radius: 24px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    background-color: #E47272;
    border: 2px solid black;
}
.task-tile-remove, .task-tile-checkbox-done {
    width: 36px;
    height: 36px;
    line-height: 32px;
    font-size: 32px;;
    font-weight: 800;
    border-radius: 8px;
    border: 2px solid #000;
    background-color: #fff;
    text-align: center;
}
input[type="checkbox"] {
    width: 36px;
    height: 36px;
    accent-color: rgb(61, 199, 61);
}

.task-tile-remove:hover {
    background-color: rgb(225, 31, 31);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.modal-confirm-delete-task {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-delete-message {
    background-color: #fbfbfb;
    border: 3px solid #000;
    border-radius: 8px;
    max-width: 700px;
    text-align: center;
    padding: 40px;
    font-size: 24px;
}
.modal-button-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.modal-button {
    border: 2px solid #000;
    min-width: 50px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 4px 4px;
    text-transform: uppercase;
    margin: 8px;
}
.modal-button.yes:hover {
    cursor: pointer;
    background-color: rgb(62, 150, 62);
}
.modal-button.no:hover {
    cursor: pointer;
    background-color: rgb(173, 47, 47);
}
.modal-button.yes {
    background-color: rgb(90, 201, 90);
}
.modal-button.no {
    background-color: rgb(219, 63, 63);
}
